:root {
  --primary-color: #0000006d;
  --secondary-color: #0000002c;
  --font-color: #fff;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: #ddd;
  height: 93vh;
  background-image: linear-gradient(135deg, #08476f 10%, #04065b 100%);
}

.weather {
  max-width: 56rem;
  margin: 3rem auto;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 15px;
}

.right {
  padding: 1rem;
  background: #ffffff21;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0.3rem 0.3rem var(--secondary-color);
  border-radius: 7px;
}
.search {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 1px solid #ffffff32;
}

.search input {
  all: unset;
  border-radius: 8px;
  padding: 0.8rem;
  font-size: 1.4rem;
  color: var(--font-color);
  width: 100%;
}
.search input::placeholder {
  color: var(--font-color);
  font-size: 1rem;
}
.search button {
  all: unset;
  padding: 0.8rem;
  cursor: pointer;
}

/*Search result*/

.searchResult {
  border-radius: 8px;
  padding: 0.5rem;
  margin-top: 1rem;
}
.location {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  color: var(--font-color);
  font-size: 1.3rem;
  margin-top: 2rem;
  border-radius: 8px;
}

/*Current*/
.current,
.nextDays {
  margin-top: 0.5rem;
  padding: 1rem 0;
  border-radius: 8px;
  line-height: 30px;
  font-size: 1rem;
  color: #fff;
}
.feels {
  color: #ddd;
  font-size: 0.8rem;
}
.condition {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}
.weatherIcon {
  width: 65px;
  height: 65px;
}

/*Next days*/

.nextDays {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  padding: 0.5rem;
}
.box {
  border-radius: 4px;
  box-shadow: 0 4px 10px var(--secondary-color);
  padding: 0.5rem;
  width: 190px;
  flex-grow: 1;
  font-size: 0.8rem;
  line-height: 20px;
  align-self: flex-start;
}

.box-condition {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}
.box-weatherIcon {
  width: 35px;
  height: 35px;
}

/*left side*/

.left {
  border-radius: 7px;
  overflow: hidden;
  background: #ffffff21;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 10px var(--secondary-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.leftImage {
  width: 100%;
  height: 320px;
}

.leftImage img {
  width: 100%;
  height: 100%;
  display: block;
}
.left-Weather {
  padding: 2.2rem 1rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 200;
}
.left-weather-top,
.left-weather-top-under {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px 15px;
  width: 100%;
}
.left-weather-top-under {
  margin-top: 1rem;
}
.left-weather-top-under p:nth-child(3) {
  margin-left: 12rem;
}
.left-weather-end {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-weather-end p {
  font-size: 1.5rem;
}
.weatherIcon-lef {
  width: 55px;
  height: 55px;
}

/*Loader and ErrorMsg*/
.loader,
.errorM {
  color: #fff;
  margin: 2rem auto;
}

/*Responsive*/

@media screen and (max-width: 768px) {
  body {
    height: 100% !important;
    background-image: linear-gradient(
      135deg,
      #04065b 10%,
      #08476f 100%
    ) !important;
  }
  .weather {
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 15px 0;
  }
  .hash {
    display: none;
  }

  .box {
    width: 220px;
  }
  .left-weather-top,
  .left-weather-top-under {
    gap: 10px 155px !important;
  }
}

@media screen and (max-width: 576px) {
  .weather {
    margin: 1rem 0.5rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 15px 0;
  }
  .left-weather-top,
  .left-weather-top-under {
    gap: 10px 65px;
  }

  .left-weather-top-under p:nth-child(3) {
    margin-left: 0rem !important;
  }
}

@media screen and (max-width: 414px) {
  .left-weather-top {
    gap: 10px 0px !important;
  }

  .left-weather-top-under {
    gap: 10px 0px !important;
  }
}
